
<div class="week">
    <div class="week__sidebar"></div>
    <div class="week__main">
        <div class="week_top">
            <div class="weekdays-long">
                <div class="weekdays">
                    <div class="name" *ngFor="#weekday of weekdays.long">
                        {{weekday}}
                    </div>
                </div>
            </div>
            <div class="weekdays-short">
                <div class="weekdays">
                    <div class="weekdays__name" *ngFor="#weekday of weekdays.short">
                        {{weekday}}
                    </div>
                </div>
            </div>
        </div>
        <div class="week__days">
            <weekday 
                *ngFor="#day of days" 
                [day]="day" 
                [events]="events[day.date]"                     
                (click)="dayClick(day, $event)" 
                #day>
            </weekday>
        </div>
    </div>
</div>