:host {
  display: block;
  padding: 0 16px;
}

form {
    display: flex;
}

input {
  width: 250px;
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}

ul li {
    cursor: pointer;
    display: block;
}
ul li:hover {
    background-color: #f1f1f1;
}