
<calendar-modal (eventAdded)="addEvent()" [selected]="selectedDay" [isOpen]="isModalOpen" [service]="service" (closed)="modalClosed($event)"></calendar-modal>

<div class="container">
    <div class="toolbar">        
        <button class="btn" (click)="openModal()">+</button>
        
        <div class="cal-controls">
            <button class="btn" (click)="moveCalLeft()">&larr;</button>
            <div class="title">             
                {{monthName}} {{center.year()}}                        
            </div>
            <button class="btn" (click)="moveCalRight()">&rarr;</button>
        </div>
        
        <div class="btn-group">
            <button class="btn" (click)="setCalView('Week')" [ngClass]="{active: viewType === 'Week'}">Week</button>
            <button class="btn" (click)="setCalView('Month')" [ngClass]="{active: viewType === 'Month'}">Month</button>
        </div>
    </div>
    
    <p></p>
    <div class="weekdays-long">
        <div class="weekdays">
            <div class="name" *ngFor="#weekday of weekdays">
                {{weekday}}
            </div>
        </div>
    </div>
    <div class="weekdays-short">
        <div class="weekdays">
            <div class="name" *ngFor="#weekday of weekdaysShort">
                {{weekday}}
            </div>
        </div>
    </div>
    <div class="calendar month">        
        <div
            cal-day 
            *ngFor="#day of days" 
            [day]="day" 
            [events]="events[day.date]" 
            class="day" 
            [ngClass]="{today: day.isToday, selected: selectedDay === day.date}" 
            (click)="dayClick(day, $event)" 
            #day>
        </div>
    </div>
</div>