.day {
    flex-basis: 14.28%;
    align-items: stretch;
    position: relative;
    height: auto;
    border-right: 1px solid #e1e1e1;
}

.day-container {
    height: auto;
    width: 100%;
    position: relative;
    padding: 0;
    padding-top: 24px;
    border: 1px solid #eee;
    border-radius: 2px;
}

.number {
    color: #666;
    position: absolute;
    top: 1px;
    right: 3px;
    display: inline-block;
    padding: 0;
}

.events {
    position: relative;
    height: 100%;
    overflow: hidden;
    z-index: 2;
}

.event {
    font-size: 12px;
    color: #fff;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    margin-bottom: 3px;
    cursor: pointer; 
    position: absolute;
}

.event-name {
    display: none;
}

@media (min-width: 768px) {

    .events {
        display: block;
    }
    .event {
        width: 100%;
        height: 2.083333%;
        padding: 0;
        border-radius: 0;
        border-radius: 1px;
        margin-bottom: 0;
    }
    .event-name {
        display: block;
        border-radius: 0;
        height: calc(100% - 1px);
        padding: 3px 6px;
        font-size: 11px;
        background-color: dodgerblue; 
    }
}

@media (min-width: 1024px) {
    .day .day-container {
        border: 0;
    }                  
}

.day-long {
    border-top: 1px solid #e1e1e1;
    height: 1009px;
    background-image: -webkit-repeating-linear-gradient(top, 
    #fff,
    #fff calc(2.08333333% - 1px),
    #efefef 2.08333333%,
    #fff calc(2.08333333% + 1px),
    #fff calc(4.16666666667% - 1px),
    #e1e1e1 calc(4.16666666667% - 1px),
    #e1e1e1 4.16666666667%);
}