.calendar.month .day {
    flex-basis: 14.28%;
    align-items: stretch;
    position: relative;
}

.day.today {
    background-color: #f5f5f5;
}
.day.today .number {
    color: dodgerblue;
}

.day.selected {
    background-color: #f1f1f1;
}

.day.selected .number {
    color: orangered;
}

.month .day .events {
    display: flex;
}

@media (min-width: 768px) {
    .month .day .events {
        display: block;
    }
}

@media (min-width: 1024px) {
    .calendar.month .day {
        border: 1px solid #ccc;
        border-top: 0;
        border-left: 0;        
    }         
}