
<calendar-modal (eventAdded)="addEvent()" [selected]="selectedDay" [isOpen]="isModalOpen" (closed)="modalClosed($event)"></calendar-modal>

<div class="container">
    <div class="toolbar">        
        
        <div class="flex">
            <div class="btn-group">
                <button class="btn btn-group__btn" (click)="openModal()">Add</button>            
            </div>

            <div class="btn-group">
                <button class="btn btn-group__btn" (click)="centerToday()">Today</button>            
            </div>
        </div>
        
        <div class="cal-controls">
            <button class="btn" (click)="moveCalLeft()">&larr;</button>
            <div class="toolbar__title">             
                <a (click)="toggleMonthDropdown()">{{monthName}}</a> {{center.year()}}    
            </div>
            <button class="btn" (click)="moveCalRight()">&rarr;</button>

            <ul class="dropdown-menu dropdown-menu--shadow dropdown-menu--animated" [ngClass]="{'dropdown-menu--open': monthDropdownVisible}">
                <li *ngFor="let month of months" class="menu__option">
                    <a (click)="selectMonth(month)" class="menu__option__btn" [ngClass]="{'menu__option__btn--active': monthName === month}">{{month}}</a>
                </li>
            </ul>
        </div>

            
        <div class="btn-group">
            <button class="btn btn-group__btn" (click)="setCalView('Week')" [ngClass]="{active: viewType === 'Week'}">Week</button>
            <button class="btn btn-group__btn" (click)="setCalView('Month')" [ngClass]="{active: viewType === 'Month'}">Month</button>
        </div>
    </div>
    
    <p></p>
    
    <div *ngIf="viewType === 'Month'">    
        <div class="weekdays-long">
            <div class="weekdays">
                <div class="name" *ngFor="let weekday of weekdays.long">
                    {{weekday}}
                </div>
            </div>
        </div>
        <div class="weekdays-short">
            <div class="weekdays">
                <div class="weekdays__name" *ngFor="let weekday of weekdays.short">
                    {{weekday}}
                </div>
            </div>
        </div>    
        <div class="calendar month">
            <div
                cal-day 
                *ngFor="let day of days" 
                [day]="day" 
                [events]="events[day.date]" 
                class="day" 
                [ngClass]="{today: day.isToday, selected: selectedDay === day.date, inactive: day.monthName !== monthName}" 
                (click)="dayClick(day, $event)" >
            </div>
        </div>
    </div>

    <week *ngIf="viewType === 'Week'" [days]="days" [events]="events" [weekdays]="weekdays"></week>
</div>